<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Documents</li>
            <li ng-repeat="doc in documents">
                <a href="#/document/edit/{{doc.Id}}" ng-class="{active: doc.Id == document.Id}">{{doc.Name}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="span9">

    <h1>Edit document {{document.Name}}</h1>

    <form class="form-horizontal" name="editForm" id="edit-form">

        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input id="name" placeholder="Title" ng-model="document.Name">
            </div>
        </div>

        <div class="control-group" ng-repeat="field in documentType.Fields">
            <label class="control-label">{{field.Name}}</label>

            <div class="controls" ng-switch="field.Type">
                <div ng-switch-when="string">
                    <div ng-repeat="subfield in field.subfields">
                        <input ng-show="isVisible(field.Name, subfield.index)" ng-model="document.Fields[field.Name][subfield.index]" type="text" />
                    </div>
                    <button ng-show="isAddable(field.Name, field.Max)" class="btn btn-primary" ng-click="addField(field.Name)">Add field</button>
                </div>
                <div ng-switch-when="textarea">
                    <textarea ng-model="document.Fields[field.Name]" placeholder="{{field.Name}}" cols="10"></textarea>
                </div>
                <div ng-switch-when="html">
                    <markdown ng-model="document.Fields[field.Name]">
                    </markdown>
                </div>
                <div ng-switch-when="date">
                    <input ui-date="dateOptions" ui-date-format ng-model="document.Fields[field.Name]"/>
                </div>
                <div ng-switch-when="file">
                    <a href="#assetpicker" role="button" class="btn" data-toggle="modal" ng-click="openAssetpicker()">File picker</a>

                    <p ng-show="document.Fields[field.Name].length">Chosen:</p>
                    <ul>
                        <li ng-repeat="link in document.Fields[field.Name]">
                            <a href="/content/{{link}}">{{ link }}</a>
                        </li>
                    </ul>

                    <!-- asset picker modal -->
                    <div id="assetpicker" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Pick your file</h3>
                        </div>
                        <div class="modal-body">
                            <div class="form-inline" ng-repeat="file in files">
                                <input class="asset" value="{{file.Id}}" ng-model="file.checked" type="checkbox" />
                                <label for="">{{ file.Name }}</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            <button class="btn btn-primary" ng-click="addAssets(field.Name)">Add file(s)</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary" ng-click="saveDocument()">Save</button>
                <button type="submit" class="btn btn-warning" ng-click="deleteDocument()">Delete</button>
            </div>
        </div>

    </form>
</div>