<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Documents</li>
            <li ng-repeat="doc in documents">
                <a href="#/document/edit/{{doc.Id}}" ng-class="{active: doc.Id == document.Id}">{{doc.Name}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="span9">

    <h1>Edit document {{document.Name}}</h1>

    <!--detail page for {{documentId}}<br/>-->
    <!--<p>Id: {{document.Id}}</p>-->
    <!--<p>Name: {{document.Name}}</p>-->

    <form class="form-horizontal" name="editForm" id="edit-form">

        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input id="name" placeholder="Title" ng-model="document.Name">
            </div>
        </div>

        <div class="control-group" ng-repeat="field in documentType.Fields">
            <label class="control-label">{{field.Name}}</label>

            <div class="controls" ng-switch="field.Type">
                <div ng-switch-when="string">
                    <div ng-repeat="subfield in field.subfields">
                        <input ng-show="isVisible(field.Name,subfield.index)" ng-model="document.Fields[field.Name][subfield.index]" placeholder="{{field.Name}}" type="text"/>
                    </div>
                    <button ng-show="isAddable(field.Name,field.Max)" class="btn btn-primary" ng-click="addField(field.Name)">Add field</button>
                </div>
                <div ng-switch-when="textarea">
                    <textarea ng-model="document.Fields[field.Name]" placeholder="{{field.Name}}" cols="10"></textarea>
                </div>
                <div ng-switch-when="html">
                    <markdown ng-model="document.Fields[field.Name]">
                    </markdown>
                </div>
                <div ng-switch-when="date">
                    <input ui-date="dateOptions" ng-model="document.Fields[field.Name]"/>
                </div>
                <div ng-switch-when="file">
                    Referentie naar file
                </div>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary" ng-click="saveDocument()">Save</button>
                <button type="submit" class="btn btn-warning" ng-click="deleteDocument()">Delete</button>
            </div>
        </div>

    </form>
</div>
