<h1>Edit document {{document.Name}}</h1>

<!--detail page for {{documentId}}<br/>-->
<!--<p>Id: {{document.Id}}</p>-->
<!--<p>Name: {{document.Name}}</p>-->

<form class="form-horizontal" name="editForm" id="edit-form">

    <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input id="name" placeholder="Title" ng-model="document.Name">
        </div>
    </div>

    {{ documentType.Fields }}

    <div class="control-group" ng-repeat="field in documentType.Fields">
        <label class="control-label">{{field.Name}}</label>

        <div class="controls" ng-switch="field.Type">
            <div ng-switch-when="string">
                <input ng-model="document.Fields[field.Name]" placeholder="{{field.Name}}" type="text">
            </div>
            <div ng-switch-when="textarea">
                <textarea ng-model="document.Fields[field.Name]" placeholder="{{field.Name}}" cols="10"></textarea>
            </div>
            <div ng-switch-when="html">
                <markdown ng-model="document.Fields[field.Name]">
                </markdown>
            </div>
            <div ng-switch-when="date">
                <input ui-date="dateOptions" ng-model="document.Fields[field.Name]"/>
            </div>
            <div ng-switch-when="file">
                Referentie naar file
            </div>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary" ng-click="editDocument()">Save</button>
            <button type="submit" class="btn btn-warning" ng-click="deleteDocument()">Delete</button>
        </div>
    </div>

</form>

{{document}}
