<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Documents</li>
            <li ng-repeat="doc in documents">
                <a href="#/document/edit/{{doc.Id}}" ng-class="{active: doc.Id == document.Id}">{{doc.Name}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="span9">
    <h1>Document overview</h1>

    <a class="btn btn-primary" href="#/document/new">Create a document</a>

    <h2>Documents</h2>

    <section class="overview">

        <form class="form-inline">
            <input ng-model="query" id="inputSearch" class="input-medium search-query" placeholder="Search">

            <select id="order" ng-model="orderProp">
                <option value="Name">Alphabetical</option>
                <option value="Type">Type</option>
                <option value="Id">Id</option>
            </select>

        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>path</th>
                    <th>name</th>
                    <th>type</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="document in documents | filter:query | orderBy:orderProp">
                    <td>{{document.Id}}</td>
                    <td>{{document.Path}}</td>
                    <td>{{document.Name}}</td>
                    <td>{{document.Type}}</td>
                    <td><a href="#/document/edit/{{document.Id}}">edit</a></td> 
                </tr>
            </tbody>
        </table>
    </section>
</div>