<h1>Edit document {{document.Name}}</h1>

detail page for {{documentId}}<br/>
<p>Id: {{document.Id}}</p>
<p>Name: {{document.Name}}</p>

<form class="form" name="editForm" id="edit-form">
    <input id="name" placeholder="Title" ng-model="document.Name">
    <input id="documentId" ng-model="document.Id" type="hidden">

    <div ng-repeat="field in nieuwsTemplate">
        <p>{{field.name}}</p>
        <input ng-model="document.Fields[field.name]" placeholder="{{field.name}}" type="{{field.type}}"><br/>
    </div>

    <button ng-click="editDocument()">Save</button>
    <button ng-click="deleteDocument()">Delete</button>
</form>

{{document.Fields}}

{{documents}}