<h1 xmlns="">Edit document type: {{documentType.Name}}</h1>

<ul ui-sortable ng-model="documentType.Fields">
    <li class="control-group" ng-repeat="field in documentType.Fields">
        <div ng-switch="field.Type" class="form-horizontal">
            <div ng-switch-when="string">
                Name: {{field.Name}}
                Min: {{field.Min}}
                Max: {{field.Max}}
                <input type="text" disabled>
                <button class="btn btn-primary" ng-click="removeField(field)">Remove field</button>
            </div>
            <div ng-switch-when="textarea">
                Name: {{field.Name}}
                Min: {{field.Min}}
                Max: {{field.Max}}
                <textarea rows="10" cols="10" disabled></textarea>
                <button class="btn btn-primary" ng-click="removeField(field)">Remove field</button>
            </div>
        </div>
    </li>
</ul>


<form name="form" class="form-horizontal">
    <input type="hidden" ng-model="documentType.Id">
    <label for="name">Name</label>
    <input id="name" type="text" ng-model="newDocumentField.Name" required>
    <label for="type">Type</label>
    <select id="type" ng-model="newDocumentField.Type" required>
        <option></option>
        <option value="string">String</option>
        <option value="textarea">Text area</option>
    </select>
    <label for="min">Min</label>
    <input id="min" type="number" ng-model="newDocumentField.Min" required>
    <label for="max">Max</label>
    <input id="max" type="number" ng-model="newDocumentField.Max" required>
    <button type="submit" class="btn btn-primary" ng-click="addField()" ng-disabled="form.$invalid">Add</button>
</form>
<button type="submit" class="btn btn-primary" ng-click="saveDocumentType()">Save</button>

<div id="fields"></div>

<!--<input ng-model="document.Fields[field.name]" placeholder="{{field.name}}" type="{{field.type}}"><br/>-->

<!--{{fieldTemplate}}<br/>-->
<!--{{fields}}-->
{{documentType}}