{{documents}}

        {{newName}}

<section class="creator">
    <h1>Document creator</h1>

    <form name="documentForm" id="document-form" ng-submit="addDocument()">
        <input id="name" placeholder="Name" ng-model="newName" required>
        <!--<input id="new-document" placeholder="Subtitle" ng-model="newSubTitle">-->
        <p ng-show="!newName.length">Please fill in all fields</p>
        <button class="btn btn-primary btn-large" ng-disabled="documentForm.$invalid">Add</button>
    </form>
</section>

<section class="overview">
    <h1>Document overview</h1>
    <ul>
        <li ng-repeat="document in documents">
            <a href="#/{{document.Id}}">{{document.Id}} {{document.Path}} {{document.Name}}</a>
        </li>
    </ul>
</section>
